  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  
  .textContainer {
    font-size: 40px;
    height: 75px;
    font-family: Montserrat;
    width: 100%;
  }
  
  .dynamicText,
  .staticText {
    display: inline-block;
  }

  .dynamicTextsWrapper,
  .staticTextWrapper {
    display: flex;
  }
  
  .staticText {
    background: -webkit-linear-gradient(-70deg,#a2facf,#64acff);
    color: 'important';
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    font-weight: 800;
    line-height: 1
  }
  
  .dynamicText {
    list-style: none;
    overflow: hidden;
    height: 1.4em;
    margin: 3px 0 0 0;
    padding: 0;
  }

  .item {
    position: relative;
    top: 0;
    animation: move 15s infinite;
  }

  .gradientColor0 {
    background: -webkit-linear-gradient(-70deg,#a2facf,#64acff);
    color: 'important';
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    font-weight: 800;
    line-height: 1
  }

  .gradientColor1 {
    background: -webkit-linear-gradient(-70deg,#db469f,#2188ff);
    color: 'important';
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    font-weight: 800;
    line-height: 1
  }

  .gradientColor2 {
    background: -webkit-linear-gradient(-70deg,#ff7170,#ffe57f);
    color: 'important';
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    font-weight: 800;
    line-height: 1
  }

  .gradientColor3 {
    background: -webkit-linear-gradient(-70deg,#FF5DA2 ,#99DDCC);
    color: 'important';
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    font-weight: 800;
    line-height: 1
  }

  .gradientColor4 {
    background: -webkit-linear-gradient(-70deg,#998CEB,#B4FE98);
    color: 'important';
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    font-weight: 800;
    line-height: 1
  }

  .gradientColor5 {
    background: -webkit-linear-gradient(-70deg,#B1D0E0,#B1D0E0);
    color: 'important';
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    font-weight: 800;
    line-height: 1
  }

  .gradientColor6 {
    background: -webkit-linear-gradient(-70deg,#9A0680,#FFF5E1);
    color: 'important';
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    font-weight: 800;
    line-height: 1
  }

  .gradientColor7 {
    background: -webkit-linear-gradient(-70deg,#ED5EDD,#8BDB81);
    color: 'important';
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    font-weight: 800;
    line-height: 1
  }

  .gradientColor8 {
    background: -webkit-linear-gradient(-70deg,#8BDB81,#FFCBCB);
    color: 'important';
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    font-weight: 800;
    line-height: 1
  }

  .gradientColor9 {
    background: -webkit-linear-gradient(-70deg,#FFCBCB,#E7FBBE);
    color: 'important';
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    font-weight: 800;
    line-height: 1
  }
  
  @keyframes move {
    0% {
      top: 0px;
    }
    20% {
      top: -50px;
    }
    40% {
      top: -100px;
    }
    60% {
      top: -150px;
    }
    80%{
      top: -200px;
    }
  }

@media screen and (max-width: 720px) {
  .container {
    width: 100%;
  }
}